body {
    font-family: 'Manrope', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    width: 100vw;
    margin: auto;
    background-image: url('../img/bg-pattern.svg');
    background-repeat: no-repeat;
    background-size: 100vw 50vh;
    background-color: hsl(230, 100%, 99%);
      
    
}

.conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
    height: 15%;
    width: 50%;
    background-image: url('../img/pattern-circles.svg');
    background-repeat: no-repeat;
    background-position: center;

}

.conteudo__titulo {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 30px;
    font-weight: 800;
    color: hsl(227, 35%, 25%);
}

.conteudo__paragrafo {
    font-size: 15px;
    color: hsl(225, 20%, 60%);
    text-align: center;
}

.componente {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: hsl(0, 0%, 100%);
    margin-bottom: 6rem;
    height: 40%; 
    width: 30%;
    padding: 10px;
    border-radius: 30px;
    box-shadow: 0px 0px 5px hsl(222, 10%, 62%);
}

.componente__valores {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.componente__valores-preco {
    font-size: 40px;
    font-weight: 800;
    color: hsl(227, 35%, 25%);
}

.componente__valores-pagina, .componente__valores-mes {
    color: hsl(225, 20%, 60%);
}

.componente__slider {
    appearance: none;
    background-color: hsl(174, 77%, 80%);
    width: 90%;
    height: 10px;
    border-radius: 5px;
    outline: none;
    
}

.componente__slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 35px;
    height: 35px;
    background-image: url('../img/icon-slider.svg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-radius: 50%;
    background-color:hsl(174, 86%, 45%);
    cursor: pointer;
}

.componente__slider::-webkit-slider-thumb:hover {
    box-shadow: 0 0 10px hsl(174, 86%, 45%);
}

.componente__plano {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.componente__plano-checkbox {
    position: relative;
    height: 20px;
    width: 40px;
    background-color: hsl(174, 77%, 80%);
    border-radius: 20px;
    cursor: pointer;

}

.componente__plano-checkbox input {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
}

.componente__plano-checkbox-switch {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    position: absolute;
    background-color: white;
    top: 2px;
    left: 3px;
    transition: all 0.5s;
}
.componente__plano-checkbox input:checked + .componente__plano-checkbox-switch {
    transform: translateX(18px);
}


.componente__plano-mensal, .componente__plano-anual {
    margin-right: 5px;
    margin-left: 5px;
    color: hsl(225, 20%, 60%);

}

.componente__plano-desconto {
    padding: 3px;
    padding-top: 4.5px;
    font-size: 10px;
    background-color: hsl(14, 92%, 95%);
    border-radius: 20px;
    color: hsl(13, 52%, 58%);
}

.border {
    border-top: 1px solid #FDFDFD;
    width: 30vw;
    margin: 0;
    padding: 0;

}
.componente__rodape {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    
}

.componente__rodape-beneficios {
    font-size: 13px;
    color: hsl(225, 20%, 60%);
}

.componente__rodape-beneficios-sites, .componente__rodape-beneficios-dados, .componente__rodape-beneficios-email {
    margin-top: 10px;
    padding-left: 35px;
    font-weight: 600;
    background-image: url('../img/icon-check.svg');
    background-repeat: no-repeat;
    background-position:left;
    
}

.componente__rodape-botao {
    font-family: 'Manrope', sans-serif;
    background-color: hsl(227, 35%, 25%);
    color: hsl(226, 100%, 87%);
    border: none;
    border-radius: 40px;
    width: 35%;
    height: 70%;
    cursor: pointer;
    transition: 0.5s;
}

.componente__rodape-botao:hover {
    background-color: hsl(227, 28%, 37%);
    color: hsl(226, 100%, 96%);
}


    